/* 
    Document   : meme
    Created on : Oct 7, 2012, 9:43:29 AM
    Author     : ryan
    Description:
        Purpose of the stylesheet follows.
*/

.fork.success {
    border: 2px dashed #666;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: large;
    font-weight: bold;
    margin: 10px;
}
.time {
    font-size: small;
    opacity: 0.6;
    display: block;
    margin: 10px;
    float: left;
}
.change.btn {
    float: right;
    font-size: small;
    padding: 10px;
}
.fork.btn {
    padding: 10px;
    float: right;
    font-size: medium;
}

.editor {
    float: right;
    font-size: small;
    
}
div.editor {
    margin: 10px;
    clear: both;
}

.node {
    clear: both;
    margin: 5px;
    padding: 5px;
    border: 1px dotted #aaa;
}
.node .name {
    font-size: small;
    opacity: 0.5;
    display: block;
    float: left;
}
.node .text {
    font-size: medium;
    border-color: #9C9C9C;
    border-style: solid;
    border-width: 0 1px;
    padding: 0 8px;
    max-width: 500px;
    margin: auto;
}

form * {
    margin: 10px;
}
form .cancel.btn {
    font-size: small;
}

div.control {
    float: right;
}
div.control span {
    font-size: small;
    opacity: 0.5;
}
.add.btn {
    display: block;
    font-size: small;
    opacity: 0.5;
    text-align: right;
    margin-right: 10px;
}