/* 
    Document   : index
    Created on : Sep 22, 2012, 9:01:39 PM
    Author     : ryan
*/

/* 公告版 */
.board {
    margin: 20px;
    padding: 10px;
    border: 3px dashed #9C9C9C;
    border-radius: 6px;
    font-size: small;
    text-align: center;
}

/* 发表新帖 */
.post.btn {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

/* 帖子列表 */
ul.list {
    margin: 10px;
}
ul.list li {
    padding: 10px;
}
ul.list li:nth-child(2n) {
    background-color: #FFF3F3;
}
ul.list li:hover {
    background-color: #EF9898;
}
ul.list li .last.editor {
    font-size: small;
    float: right;
    opacity: 0.7;
}
ul.list li .time {
    float: right;
    font-size: small;
    padding-left: 20px;
    opacity: 0.6;
}